@font-face {
    font-family: gamefont; src: url('04B_19.TTF');
}

@font-face {
    font-family: writefont; src: url('DancingScript.TTF');
}

html {
    scroll-behavior: smooth;
}

/* npx tailwindcss -i css_folder/grid.css -o ./dist/output.css --watch  */

@tailwind base;
@tailwind components;
@tailwind utilities;
